<h1 class="mt-2 mb-0"><%= @user.email_address %></h1>

<h2>Current Runs</h2>
<ul>
    <% @user.runs.where(ended_at: nil).each do |run| %>
        <li>
            <% label = (run.started_at + run.duration.days).past? ? "Ended" : "Ends in" %>
            <%= run.stage %>: <%= label %> <%= distance_of_time_in_words(run.started_at, run.started_at + run.duration.days) %> from now 
            <%= form_with model: run, url: end_run_path(run) do |form| %>
                <%= form.submit "End Now" %>
            <% end %>
        </li>
    <% end %>
</ul>

<h2>Ended Runs</h2>
<ul>
    <% @user.runs.where.not(ended_at: nil).each do |run| %>
        <li>
            <%= run.stage %>: Ended <%= time_ago_in_words(run.ended_at) %> ago
        </li>
    <% end %>
</ul>