<div id="<%= dom_id tumbler %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tumbler.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= tumbler.brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Model:</strong>
    <%= tumbler.model %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= tumbler.user_id %>
  </div>
</div>
