<div id="<%= dom_id run %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Started at:</strong>
    <%= run.started_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ended at:</strong>
    <%= run.ended_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= run.duration %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Stage:</strong>
    <%= run.stage %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= run.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tumbler:</strong>
    <%= run.tumbler_id %>
  </div>
</div>
